<div class="select rounded" tabindex="1">
  <input class="selectopt" name="test" type="radio" id="opt1" checked (click)="sort('All')">
  <label for="opt1" class="option">All</label>
  <input class="selectopt" name="test" type="radio" id="opt2" (click)="sort('Newest')">
  <label for="opt2" class="option">Newest</label>
  <input class="selectopt" name="test" type="radio" id="opt3" (click)="sort('Oldest')">
  <label for="opt3" class="option">Oldest</label>
  <input class="selectopt" name="test" type="radio" id="opt4" (click)="sort('One day')">
  <label for="opt4" class="option">1 day</label>
</div>
