<div class="row">
  <div class="col-6 mt-3 mb-3 d-flex align-items-center">

    <img src="./assets/logo.png" alt="Logo" class="logo-size">
    <h1 class="d-inline-flex align-middle ms-3 mb-0-3" id="title">B00ksRev1ewer</h1>
    <span class="d-inline-flex ms-5">
      <app-search [inputWidth]="'20em'"></app-search>
    </span>

  </div>
  <div class="col-3 mt-3 mb-3 align-self-center">
    <div class="mb-0-3">
      <a href="" class="light-gray ft-weight fs-4" routerLink="/books">Books</a>
      <a href="" class="light-gray ft-weight fs-4 ms-3" [routerLink]="['/profile', getUserId()]">Profile</a>
      <a href="" class="light-gray ft-weight fs-4 ms-3" routerLink="/">Reviews</a>
    </div>
  </div>
  <div class="col-3 mt-3 mb-3 align-self-center">

    <div class="ms-5">
      <button class="w-30 btn btn-black rounded-pill me-2" routerLink="/login">Login</button>
      <button class="w-30 btn btn-black rounded-pill" routerLink="/registration">Sign Up</button>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
