<div class="mb-6">

  <ng-container *ngFor="let review of reviews">
    <div class="row mt-5">

      <div class="col-2">

      </div>
      <div class="col-4">
        <p class="fs-min font-color-gray">{{review.applicationUser.name}}</p>
      </div>
      <div class="col-4">
        <p class="fs-min font-color-gray">{{review.created | dateWithoutTime}}</p>
      </div>

    </div>

    <div class="row">

      <div class="col-2">
        <img src="data:image/png;base64,{{review.applicationUser.avatar}}" alt="Avatar" class="avatar-size">
      </div>
      <div class="col-10">
        <p class="fs-medium several-lines" id={{review.id}}>{{review.description}}</p>
        <a class="pointer" (click)="showAllLines(review.id)">...more</a>
      </div>

    </div>
  </ng-container>

</div>
