<ng-container *ngIf="user">
  <div class="bg-green">
    <div class="container w-60">
      <div class="row" id="descriptionRow">

        <div class="col-3 d-flex align-items-end">
          <!-- <p>{{user.name}}</p> -->
        </div>

        <div class="col-6 d-flex justify-content-center align-items-center">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="data:image/png;base64,{{user.avatar}}" alt="Avatar" class="avatar-size rounded-circle">
            <h1 class="fs-3">{{user.name}}</h1>
          </div>
        </div>

        <div class="col-3 d-flex align-items-end">
          <!-- <p>Some content</p> -->
        </div>

      </div>
    </div>
  </div>

  <div class="text-center bg-black">
    <!-- Nav bar -->
    <div class="container w-75">
      <nav class="menu inner-menu horizontal-nav">
        <ul class="menu-actions">
          <li>
            <a class="menu-entry" routerLink="/profile">
              <span>Activity</span>
            </a>
          </li>
          <li>
            <a class="menu-entry" [ngClass]="{active: isBooksActive, 'active-link': isBooksActive}"
            (click)="navigateToProfileBooks('books')">
              <span>Library</span>
              <span class="counter">{{user.books.length ? user.books?.length : 0}}</span>
            </a>
          </li>
          <li>
            <a class="menu-entry" [ngClass]="{active: !isBooksActive, 'active-link': !isBooksActive}"
            (click)="navigateToProfileReviews('reviews')">
              <span>Reviews</span>
              <span class="counter">{{user.reviews.length}}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <hr class="bg-white mt-0">
    <!-- Content -->
    <div class="container w-75">
      <router-outlet></router-outlet>
    </div>

  </div>
</ng-container>

